<footer class="sec_footer en">
  <ul class="footer__ego">
    <li>
      <a href="{{rootSrc}}" class="footer__logo img-box m-hide">
        <img src="/images/footer_logo_pc.png" alt="비스톤스 로고">
      </a>
    </li>
    <li>
      <p class="footer__copyright m-hide">&copy; 2024, BSTONES. All Rights Reserved.</p>
    </li>
  </ul>
  <div class="footer__list">
    <a href="{{rootSrc}}contact/" class="footer__contact">CONTACT US</a>
    <a href="tel:025119160" class="footer__tel">T. 02-511-9160</a>
  </div>
  <p class="footer__copyright m-show">&copy; 2024, BSTONES. All Rights Reserved.</p>
</footer>