<header class="header en">
  <h1>
    <a href="/" class="header__logo img-box">
      <img src="/assets/images/header_logo_pc.png" class="m-hide" alt="">
      <img src="/assets/images/header_logo_mo.png" class="m-show" alt="">
    </a>
  </h1>

  <a href="javascript:;" class="header__open m-show" id="btnOpen">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>

  <nav class="header__nav">
    <a href="/about/" class="header__menu">About</a>
    <a href="/portfolio/" class="header__menu">Portfolio</a>
    <a href="/recruit/" class="header__menu">Recruit</a>
    <a href="/contact/" class="header__menu">Contact</a>
  </nav>
</header>
