.wrapper {
  @include vw-max(padding-top, 200);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    // background-color: $color-black;
    backdrop-filter: blur(2px);
    transition: opacity 0.3s ease-in;
    z-index: 50;
    @include vw-max(height, 200);
    @include vw-max(padding, 0 80 0 89);

    &.js-fixed {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      pointer-events: none;
    }

    &.js-show {
      pointer-events: auto;
      opacity: 1;
    }

    &__logo {
      @include vw-max(width, 186);
      @include vw-max(height, 41);
    }

    &__nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include vw-max(width, 762);
    }

    &__menu {
      font-weight: bold;
      // color: #fff;
      line-height: 2;
      text-transform: uppercase;
      text-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
      transition: color 0.1s;
      @include vw-max(font-size, 28);

      &:hover {
        color: #f84525;
        // transition: 0.4s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    @include vw-mo(padding-top, 155);

    .header {
      @include vw-mo(height, 155);
      @include vw-mo(padding, 0 48);

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: #f84525;
        transform: translate(50%, -50%);
        transition:
          width 0.5s ease-in-out,
          height 0.5s ease-in-out;
        @include vw-mo(top, 75);
        @include vw-mo(right, 67);
      }

      &.js-open {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        pointer-events: initial;

        &::before {
          width: 250vmax;
          height: 250vmax;
        }

        .header__open {
          .bar {
            &:nth-child(1) {
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              bottom: 50%;
              transform: translateY(50%) rotate(-45deg);
            }
          }
        }

        .header__nav {
          display: block;
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.3s;
          pointer-events: initial;
        }
      }

      &__logo {
        @include vw-mo(width, 198);
        @include vw-mo(height, 36);
        z-index: 15;
      }

      &__open {
        position: absolute;
        display: block;
        z-index: 5;
        @include vw-mo(top, 60);
        @include vw-mo(right, 48);
        @include vw-mo(width, 40);
        @include vw-mo(height, 28);

        .bar {
          display: block;
          position: absolute;
          width: 100%;
          @include vw-mo(height, 5);
          background: #fff;
          transition:
            transform 0.35s,
            top 0.35s;

          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
      }

      &__nav {
        position: absolute;
        transform: translateY(10%);
        transition:
          opacity 0.3s,
          transform 0.3s;
        opacity: 0;
        pointer-events: none;
        @include vw-mo(top, 315);
        @include vw-mo(left, 70);
      }

      &__menu {
        text-transform: none;
        @include vw-mo(font-size, 80);
        @include vw-mo(line-height, 112);
        @include vw-mo(letter-spacing, 2.5);

        &:hover {
          color: #fff;
          transition: 0.4s;
        }
      }
    }
  }
}
