@import './common';
@import './animation';
@import './banner';

.bs-home {
  overflow: hidden;

  /* main start */
  .page-title {
    position: relative;
    cursor: default;
    word-break: break-all;
    z-index: 5;
    @include vw-max(font-size, 120);
    @include vw-max(line-height, 136.7);
    @include vw-max(letter-spacing, -1);

    &--highlight {
      color: $color-red;
    }
  }

  .title-img {
    position: absolute;
    display: none;
    z-index: 1;
    @include vw-max(right, 229);
    @include vw-max(top, 226);
    @include vw-max(width, 360);
    @include vw-max(height, 360);
  }

  // .intro-video {
  //   position: relative;
  //   @include vw-max(width, 1760);
  //   @include vw-max(height, 990);

  //   &__bg {
  //     width: 100%;
  //     height: 100%;

  //     &::after {
  //       content: '';
  //       display: none;
  //       position: absolute;
  //       left: 50%;
  //       top: 50%;
  //       transform: translateX(-50%) translateY(-50%);
  //       transition: all 0.5s;
  //       background: center/cover no-repeat
  //         url('../images/main_video_btn_pc.png');
  //       @include vw-max(width, 160);
  //       @include vw-max(height, 161);
  //     }

  //     &:hover {
  //       &::after {
  //         transform: translateX(-50%) translateY(-50%) scale(1.2);
  //       }
  //     }
  //   }

  //   &__player {
  //     display: none;
  //     width: 100%;
  //     height: 100%;
  //   }

  //   iframe {
  //     width: 100%;
  //     height: 100%;
  //   }

  //   &.active {
  //     .intro-video__bg {
  //       display: none;
  //     }

  //     .intro-video__player {
  //       display: block;
  //     }
  //   }
  // }

  #localVideo.m-hide {
    @include vw-max(max-width, 1760);
  }

  /* portfolio start */
  .page-sub {
    &--portfolio {
      letter-spacing: 0.24em;
      @include vw-max(font-size, 28);
    }
    &__link {
      display: inline-flex;
      align-items: center;

      &::after {
        content: '';
        position: relative;
        display: inline-block;
        transform: rotate(45deg);
        border-top: 2px solid $color-red;
        border-right: 2px solid $color-red;
        @include vw-max(border-width, 2);
        @include vw-max(left, 15);
        @include vw-max(width, 14);
        @include vw-max(height, 14);
      }
    }
  }

  /* 포트폴리오 스와이퍼 구간 */
  .portfolio-swiper {
    position: relative;
    overflow: visible;
    height: 100%;
    @include vw-max(padding, 0 505 0 200);
    @include vw-max(margin, 0 0 30 0);

    &__list {
      width: auto;
    }

    &__item {
      @include vw-max(width, 505);

      &:not(:last-child) {
        @include vw-max(margin-right, 40);
      }
    }

    // &__img {
    //   &:hover {
    //     &::after {
    //       opacity: 1;
    //     }
    //   }

    //   &::after {
    //     content: 'View';
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translateX(-50%) translateY(-50%);
    //     transition: all 0.2s ease-in;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     border-radius: 50%;
    //     background-color: $color-red;
    //     color: $color-white;
    //     opacity: 0;
    //     font-family: $en;
    //     @include vw-max(width, 160);
    //     @include vw-max(height, 161);
    //     @include vw-max(font-size, 26);
    //   }
    // }

    &__txt {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      pointer-events: none;
      @include vw-max(width, 310);
      @include vw-max(right, -190);
      @include vw-max(bottom, 60);
    }

    &__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      font-weight: bold;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include vw-max(width, 310);
      @include vw-max(height, 122);
      @include vw-max(font-size, 42);
      @include vw-max(letter-spacing, -1);
    }

    &__cont {
      display: flex;
    }

    &__info {
      display: inline-block;
      @include vw-max(font-size, 28);
      @include vw-max(line-height, 50);
      @include vw-max(letter-spacing, 0.2);

      &--typea {
        font-weight: bold;
        @include vw-max(margin-right, 5);
      }

      &--typeb {
        display: -webkit-box;
        float: right;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-family: $kr;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        @include vw-max(width, 200);
        @include vw-max(font-size, 28);
      }
    }

    &__navi {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      margin-top: 0;
      @include vw-max(width, 88);
      @include vw-max(height, 88);

      &--prev {
        background: center/cover no-repeat
          url('../images/main_portfolio_swiper_btn_prev_pc.png');
        @include vw-max(right, 376);
      }

      &--next {
        background: center/cover no-repeat
          url('../images/main_portfolio_swiper_btn_next_pc.png');
        @include vw-max(right, 260);
      }

      &:after {
        display: none;
      }
    }

    .fade-in-up {
      transform: translateY(30px);
      transition:
        opacity 0.2s ease-in,
        transform 0.2s ease-in;
      opacity: 0;
    }

    .swiper-slide-prev {
      position: relative;
      @include vw-max(left, -200);
    }

    .swiper-slide-active {
      position: relative;
      @include vw-max(left, -200);

      .portfolio-swiper__img {
        img {
          opacity: 0.3;
          transition: 0.3s;
        }
      }

      .fade-in-up {
        transform: translateY(0);
        opacity: 1;

        &--01 {
          transition:
            opacity 0.3s ease-in,
            transform 0.3s ease-in;
        }

        &--02 {
          transition:
            opacity 0.5s ease-in,
            transform 0.5s ease-in;
        }

        &--03 {
          transition:
            opacity 0.6s ease-in,
            transform 0.6s ease-in;
        }

        &--04 {
          transition:
            opacity 0.7s ease-in,
            transform 0.7s ease-in;
        }
      }
    }
  }
  /* portfolio end */

  /* recruit start */
  .recruit {
    .inner-1240 {
      position: relative;
    }

    &__sub {
      .page-sub--recruit {
        letter-spacing: 0.23em;
        @include vw-max(font-size, 28);
      }
    }

    &__text {
      @include vw-max(font-size, 54);
      @include vw-max(line-height, 90);
      @include vw-max(letter-spacing, -1);
    }

    &__desc {
      @include vw-max(font-size, 21);
      @include vw-max(line-height, 36);
    }

    &__info {
      color: $color-gray;
      @include vw-max(font-size, 24);
      @include vw-max(line-height, 29);
      @include vw-max(letter-spacing, -0.3);
    }

    &__ani {
      position: absolute;
      transform-origin: 50% 50%;
      animation: rotate 10s linear infinite;
      @include vw-max(top, 191);
      @include vw-max(right, 0);
      @include vw-max(width, 234);

      &::after {
        content: '';
        position: absolute;
        top: 44.5%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        border-radius: 50%;
        background-color: $color-red;
        @include vw-max(width, 24);
        @include vw-max(height, 24);
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .btn_join {
    display: block;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: $color-white;
    background-color: $color-deep-gray;
    @include vw-max(width, 250);
    @include vw-max(font-size, 24);
    @include vw-max(line-height, 65);
    @include vw-max(letter-spacing, -1);
    @include vw-max(border-radius, 32);
  }
  /* recruit end */

  &.touchmode {
    .title-img {
      display: block;
    }

    .intro-video {
      &__bg {
        &::after {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bs-home {
    /* main start */
    .page-title {
      position: relative;
      letter-spacing: 0;
      @include vw-mo(font-size, 95);
      @include vw-mo(line-height, 112);
    }

    .title-img {
      position: relative;
      right: 0;
      top: 0;
      display: block;
      @include vw-mo(left, 264);
      @include vw-mo(width, 360);
      @include vw-mo(height, 360);
      @include vw-mo(margin-bottom, 80);
    }

    // .intro-video {
    //   width: 100%;
    //   @include vw-mo(height, 1280);

    //   &__bg {
    //     &::after {
    //       display: block;
    //       background: center/cover no-repeat
    //         url('../images/main_video_btn_mo.png');
    //       @include vw-mo(width, 160);
    //       @include vw-mo(height, 161);
    //     }
    //   }

    //   iframe {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }

    #localVideo.m-show {
      @include vw-mo(max-width, 720);
    }

    /* portfolio start */
    .page-sub {
      &--portfolio {
        @include vw-mo(font-size, 40);
        @include vw-mo(letter-spacing, 10);
      }

      &__link::after {
        @include vw-mo(left, 23);
        @include vw-mo(width, 20);
        @include vw-mo(height, 19);
        @include vw-mo(border-width, 4);
      }
    }

    /* 포트폴리오 스와이퍼 구간 */
    .portfolio-swiper {
      margin: 0;
      padding: 0;
      @include vw-mo(width, 516);

      &__list {
        @include vw-mo(width, 516);
      }

      &__item {
        @include vw-mo(width, 516);

        &:not(:last-child) {
          @include vw-mo(margin-right, 24);
        }
      }

      &__img {
        @include vw-mo(margin-bottom, 60);

        &:hover {
          img {
            opacity: 1;
          }

          &::after {
            display: none;
          }
        }

        &::after {
          display: none;
          @include vw-mo(width, 160);
          @include vw-mo(height, 161);
          @include vw-mo(font-size, 26);
        }

        img {
          opacity: 1;
        }
      }

      &__txt {
        position: static;
        display: block;
        text-align: left;
        width: auto;
        @include vw-mo(margin, 0 15);
      }

      &__title {
        width: auto;
        height: auto;
        @include vw-mo(font-size, 60);
        @include vw-mo(line-height, 80);
      }

      &__info {
        @include vw-mo(font-size, 44);
        @include vw-mo(line-height, 58);
        @include vw-mo(letter-spacing, -0.6);

        &--typea {
          @include vw-mo(margin-right, 5);
        }

        &--typeb {
          width: auto;
          @include vw-mo(font-size, 40);
        }
      }
      .swiper-slide-active {
        position: relative;

        .portfolio-swiper__img {
          img {
            opacity: 1;
          }
        }
      }
      .swiper-slide-prev,
      .swiper-slide-active {
        left: 0;
      }
    }
    /* portfolio end */

    /* recruit start */
    .recruit {
      position: relative;

      &__sub {
        .page-sub--recruit {
          @include vw-mo(font-size, 40);
          @include vw-mo(letter-spacing, 10);
        }
      }

      &__text {
        letter-spacing: 0;
        @include vw-mo(font-size, 59);
        @include vw-mo(line-height, 90);
      }

      &__desc {
        @include vw-mo(font-size, 41);
        @include vw-mo(line-height, 57);
        @include vw-mo(letter-spacing, -2.3);
      }

      &__info {
        color: $color-gray;
        @include vw-mo(font-size, 36);
        @include vw-mo(line-height, 29);
        @include vw-mo(letter-spacing, -1);
      }

      &__ani {
        position: relative;
        top: 0;
        right: 0;
        @include vw-mo(left, 383);
        @include vw-mo(width, 242);

        &::after {
          transform: translateX(-50%);
          @include vw-mo(width, 24);
          @include vw-mo(height, 24);
        }
      }
    }

    .btn_join {
      @include vw-mo(width, 400);
      @include vw-mo(margin-bottom, 81);
      @include vw-mo(font-size, 32);
      @include vw-mo(line-height, 101);
      @include vw-mo(letter-spacing, -1);
      @include vw-mo(border-radius, 50);
    }
    /* recruit end */
  }
}
